<table>
  <tr>
    <td>
      <p class="lede">
        <%= t('.dear_admin') %>
      </p>
      <p>
        <%= t('.instructions') %>
      </p>
      <p>***********************************************************</p>
      <p>
        <%= t('.customer_info') %> :
      </p>
      <table>
       <tr>
         <td><%= t('.name_customer') %></td>
         <td width="100"></td>
         <td><%= Spree::Address.where(id: @order.bill_address_id).pluck(:name).first %></td>
       </tr>
        <tr>
          <td><%= t('.phone_customer') %>  </td>
          <td width="100"></td>
          <td><%= Spree::Address.where(id: @order.bill_address_id).pluck(:phone).first %></td>
        </tr>
        <tr>
          <td><%= t('.email_customer') %></td>
          <td width="100"></td>
          <td><%= @order.email %></td>
        </tr>

      </table>
      <p>***********************************************************</p>

      <p>
        <%= t('.order_summary') %> :
      </p>
      <table>
        <% @order.line_items.each do |item| %>
          <tr>

            <td><%= item.variant.sku %></td>
            <td>
              <%= item.variant.product.name %>  :
              <br>
              <%= item.variant.options_text -%>
            </td>
            <td>(<%=item.quantity%>) x <%= item.single_money %> = <%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td>
            <%= t('.total') %>
          </td>
          <td>
            <%= @order.display_total %>
          </td>
        </tr>
      </table>



      <p>
        <%= t('.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
